.timeline {
    position: relative;
    display: flex;
    height: 16px;
    background-color: rgb(233, 236, 239);
    border-radius: 4px;
    overflow: hidden; /* makes children obey border radius */
    cursor: pointer;
}

.timeline-component-labeled {
    background-color: rgb(40, 167, 69);
}

.timeline-component-active {
    background-color: rgb(0, 0, 0);
    min-width: 1px;
}

.timeline-cursor {
    position: absolute;
    border: red 1px solid;
    height: 16px;
    box-sizing: border-box;
}