<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="public/bootstrap-5.0.2-dist/css/bootstrap.css" />
    <title>{% block title %}{% endblock title %} - Annotator</title>
    {% endblock head %}
</head>
<body class="bg-light">
    {% block body %}{% endblock body %}
</body>
</html>
