{% extends "base" %}
{% block title %}Experiments{% endblock title %}
{% block body %}
    <style>
        /* too lazy to put this in head */
        .number-input { width: 5em }
    </style>

    <div class="container mt-5">
        <div class="row">
            <h1>{{ project_name }}</h1>

            <h2>Experiments</h2>
            {% if refresh_uri %}
            <form action="{{ refresh_uri }}" method="post">
                <input class="btn btn-outline-primary" type="submit" value="Refresh experiments list" />
            </form>
            {% endif %}

            {% if experiments %}
            <form action="{{ save_uri }}" method="post">
            <table class="table">
                <tr>
                    <th>Experiment</th>
                    <th>Asignee</th>
                    <th>Progress</th>
                    <th>Video FPS</th>
                    <th>Annotation FPS</th>
                    <th></th>
                </tr>
                {% for experiment in experiments %}
                    <tr>
                        <td>{{experiment.folder_name}}</td>
                        <td>{{experiment.claimed_by_name}}</td>
                        <td>{{experiment.num_annotated_frames}}/{{experiment.num_frames_to_annotate}} annotated ({{experiment.num_video_frames}} total)</td>
                        <td>{{experiment.video_frame_rate}}</td>
                        <td>
                            {% if save_uri %}
                                <input type="number" class="number-input"
                                       name="settings[{{ experiment.id }}].annotation_frame_rate"
                                       value="{{experiment.annotation_frame_rate}}" />
                            {% else %}
                                {{ experiment.annotation_frame_rate }}
                            {% endif %}
                        </td>
                        <td>
                            {% if experiment.claimed_by == user_id %}
                                <a href="{{experiment.labeler_uri}}" class="btn btn-outline-primary">Resume Annotating</a>
                                <input formaction="{{ experiment.release_uri }}" class="btn btn-outline-danger" type="submit" value="Un-assign Me" />
                            {% elif experiment.claimed_by %}
                                <input formaction="{{ experiment.release_uri }}" class="btn btn-outline-danger" type="submit" value="Force Un-assign" />
                            {% else %}
                                <input formaction="{{experiment.claim_uri}}" class="btn btn-outline-primary" type="submit" value="Start Annotating" />
                            {% endif %}
                            {% if experiment.preview_uri %}
                                <a href="{{ experiment.preview_uri }}" class="btn btn-outline-primary">
                                    Preview
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
                {% if save_uri %}
                <input class="btn btn-primary" type="submit" value="Save changes" />
                {% endif %}
            </form>
            {% else %}
            <p>No experiments registered yet</p>
            {% endif %}
        </div>

        {% if members %}
            <h2>Members</h2>
            <ul>
                {% for member in members %}
                    <li>{{ member.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if potential_members %}
            <h2>Add Member</h2>
            <form action="{{add_member_uri}}" method="post">
                <select name="new_member_id">
                    <option>Select member to add</option>
                    {% for member in potential_members %}
                        <option value="{{ member.id }}">{{ member.name }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-outline-primary" type="submit" value="Add Member" />
            </form>
        {% endif %}
    </div>
{% endblock body %}
