{% extends "base" %}
{% block title %}Experiments{% endblock title %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <h1>{{ experiment_name }}</h1>

            <video src="{{ video_uri }}">
                Your web browser doesn't support the &gt;video&lt; tag.
            </video>
        </div>
    </div>
{% endblock body %}
