{% extends "base" %}
{% block title %}Experiments{% endblock title %}
{% block body %}
    <style>
        /* too lazy to put this in head */
        .number-input { width: 5em }
    </style>

    <div class="container mt-5">
        <div class="row">
            <h1>{{ project_name }}</h1>

            <h2>Experiments</h2>
            {% if refresh_uri %}
            <form action="{{ refresh_uri }}" method="post">
                <input class="btn btn-outline-primary" type="submit" value="Refresh experiments list" />
            </form>
            {% endif %}

            {% if experiments %}
            <form action="{{ save_uri }}" method="post">
                {# Annoyingly, the if statements can't be moved into the macro thanks to limitations in Tera #}
                {% if experiments.ready %}
                    {{ rowtypes::project_detail_row(these_experiments=experiments.ready, category_name="Ready for annotation") }}
                {% endif %}
                {% if experiments.inProgress %}
                    {{ rowtypes::project_detail_row(these_experiments=experiments.inProgress, category_name="Annotation in progress") }}
                {% endif %}
                {% if experiments.submitted %}
                    {{ rowtypes::project_detail_row(these_experiments=experiments.submitted, category_name="Submitted for approval") }}
                {% endif %}
                {% if experiments.approved %}
                    {{ rowtypes::project_detail_row(these_experiments=experiments.approved, category_name="Annotation finished") }}
                {% endif %}
                {% if experiments.new %}
                    {{ rowtypes::project_detail_row(these_experiments=experiments.new, category_name="New") }}
                {% endif %}

                {% if save_uri %}
                <input class="btn btn-primary" type="submit" value="Save changes" />
                {% endif %}
                {% if set_status_uri %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Set Status
                        </button>
                        <ul class="dropdown-menu">
                            <li><input type="submit" class="dropdown-item" href="#" value="New" name="status" formaction="{{ set_status_uri }}" /></li>
                            <li><input type="submit" class="dropdown-item" href="#" value="Ready" name="status" formaction="{{ set_status_uri }}" /></li>
                            <li><input type="submit" class="dropdown-item" href="#" value="InProgress" name="status" formaction="{{ set_status_uri }}" /></li>
                            <li><input type="submit" class="dropdown-item" href="#" value="Submitted" name="status" formaction="{{ set_status_uri }}" /></li>
                            <li><input type="submit" class="dropdown-item" href="#" value="Approved" name="status" formaction="{{ set_status_uri }}" /></li>
                        </ul>
                    </div>
                {% endif %}
            </form>
            {% else %}
            <p>No experiments registered yet</p>
            {% endif %}
        </div>

        {% if members %}
            <h2>Members</h2>
            <ul>
                {% for member in members %}
                    <li>{{ member.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if potential_members %}
            <h2>Add Member</h2>
            <form action="{{add_member_uri}}" method="post">
                <select name="new_member_id">
                    <option>Select member to add</option>
                    {% for member in potential_members %}
                        <option value="{{ member.id }}">{{ member.name }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-outline-primary" type="submit" value="Add Member" />
            </form>
        {% endif %}
    </div>
{% endblock body %}
