{% macro project_detail_row(these_experiments, category_name) %}
    <h4>{{ category_name }}</h4>
    <table class="table">
        <tr>
            <th></th> {# checkbox #}
            <th>Experiment</th>
            <th>Asignee</th>
            <th>Progress</th>
            <th>Video FPS</th>
            <th>Annotation FPS</th>
            <th>ID</th>
            <th></th> {# buttons #}
        </tr>
        {% for experiment in these_experiments %}
            <tr>
                <td><input type="checkbox" name="experiment" value="{{ experiment.id }}" /></td>
                <td>{{experiment.folder_name}}</td>
                <td>{{experiment.claimed_by_name}}</td>
                <td>{{experiment.num_annotated_frames}}/{{experiment.num_frames_to_annotate}} annotated ({{experiment.num_video_frames}} total)</td>
                <td>{{experiment.video_frame_rate}}</td>
                <td>
                    {% if save_uri %}
                        <input type="number" class="number-input"
                               name="settings[{{ experiment.id }}].annotation_frame_rate"
                               value="{{experiment.annotation_frame_rate}}" />
                    {% else %}
                        {{ experiment.annotation_frame_rate }}
                    {% endif %}
                </td>
                <td>{{experiment.id}}</td>
                <td>
                    {% if experiment.claimed_by == user_id %}
                        <a href="{{experiment.labeler_uri}}" class="btn btn-outline-primary">Resume Annotating</a>
                        <input formaction="{{ experiment.release_uri }}" class="btn btn-outline-danger" type="submit" value="Un-assign Me" />
                        {% elif experiment.claimed_by %}
                        <input formaction="{{ experiment.release_uri }}" class="btn btn-outline-danger" type="submit" value="Force Un-assign" />
                    {% else %}
                        <input formaction="{{experiment.claim_uri}}" class="btn btn-outline-primary" type="submit" value="Start Annotating" />
                    {% endif %}
{#                    {% if experiment.preview_uri %}#}
{#                        <a href="{{ experiment.preview_uri }}" class="btn btn-outline-primary">#}
{#                            Preview#}
{#                        </a>#}
{#                    {% endif %}#}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}